<form ng-submit="submit()" name="login" novalidate>
  <div class="register-container">
    <h2>Login</h2>
    <div class="box">
      <input name="email" ng-model="email" type="email"
        required
        placeholder="Email">
      <p class="help-block"
        ng-show="login.email.$dirty && login.email.$invalid">
        Please enter a proper email
      </p>
      <input name="password" ng-model="password" type="password"
        required
        placeholder="Password">
      <button ng-disabled="login.$invalid" class="btn btn-default full-width">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <br />
      <a class="text-muted pull-right" ui-sref="register">Create Account</a>
    </div>
  </div>
</form>
